body {
  background-color: #111A22;
  color: white;
  overflow: hidden;
  font-family: 'myFirstFont', Arial, Helvetica, sans-serif;
}
/* ---------------------------------------------------------------- */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 20px; */
  /* padding: 20px; */
}
/* ---------------------------------------------------------------- */
.top-panel {
  grid-column: 1 / -1;
  border-bottom: 0.5px solid yellow;
  position: relative;
  margin-bottom: 3rem;
}

.rpm-bar {
  color: #fff!important;
  background-color: #4CAF50!important;
  height: 130px; /* 160px pre thousands numbers */
  width: 0;
}

.top-panel-thousands-marks {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  position: absolute;
  min-width: 1905px;
  width: 1905px;
}

.grid-item {
  border-right: .1px solid white;
  box-sizing: border-box;
  height: 140px; /* 170px pre thousands numbers */
  width: 100%;
  position: relative;
}
.grid-item-zero {
  position: absolute;
  width: auto;
}
.grid-item-p {
  position: absolute;
  bottom: -45px;
  right: -12px;
}
.grid-item p {
  margin: 0;
  font-size: 40px;
}
/* ---------------------------------------------------------------- */
.left-panel {}
.right-panel {}

.middle-panel { 
  /* border: 0.5px solid red; */
  /* padding: 10px; */
  margin: 0;
}
.middle-panel-top-section {
  /* border: 0.5px solid yellow; */
  text-align: center;
}
.middle-panel-bottom-section {
  /* border: 0.5px solid yellow; */
  text-align: center;
}
.test-grid-template {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* ---------------------------------------------------------------- */
.info-panel-left {
  /* border: 0.5px solid pink; */
  text-align: left;
  padding: 10px;
  margin: 0;
}
.info-panel-middle-top {
  /* border: 0.5px solid black; */
  text-align: center;
  padding: 10px;
  margin: 0;
}
.info-panel-middle-bottom-left {
  /* border: 0.5px solid white; */
  display: inline-block;
  margin-right: 20px;
  /* text-align: center; */
}
.info-panel-middle-bottom-right {
  /* border: 0.5px solid white; */
  display: inline-block; 
  margin-right: 20px; 
  /* text-align: center; */
}
.info-panel-right {
  /* border: 0.5px solid pink; */
  text-align: right;
  padding: 10px;
  margin: 0;
}
/* ---------------------------------------------------------------- */
.tpsBarContainer {
  color: #000!important;
  border: 4px solid yellow;
  position: relative;
  overflow: hidden;
  height: 380px;
  margin-top: 5px;
  /* width: 90%; */
  }
.tps-bar {
  color:#fff!important;
  background-color:#4CAF50!important;
  height: 0%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* ---------------------------------------------------------------- */
.data-title {
  font-size: 40px;
  margin: 0;
}
.data-reading {
  font-size: 130px;
  margin: 0;
}
.data-reading-gear {
  font-size: 290px;
  margin: 0;
}
